<div class="d-flex">
    <!-- Sidebar -->
    <div class="bg-dark border-right p-3" id="sidebar">
        <h3 class="text-light">Gifs App</h3>
        <hr class="text-white">
        <div class="list-group list-reset">
            <a href="#" class="list-group-item list-group-item-action">
                Dashboard
            </a>
        </div>
    </div>
    <!-- End sidebar -->

    <div class="container">
        <div class="row p-3">
            <div class="col">
                <h5>Buscar:</h5>
                <input type="text" class="form-control" placeholder="Buscar gifs...">
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam soluta non recusandae blanditiis voluptatum repellat, deleniti neque cumque officiis perferendis corrupti quis minima, doloribus molestias! Odio repudiandae nam quas aut.
            </div>
        </div>
    </div>
</div>