<div 
*ngIf="!pais; else divPais"
class="alert aler-info">
    Espere por favor...
</div>

<ng-template #divPais>
    <div class="row">
        <div class="col-12">
            <h1>Pais: <small>{{ pais.name }}</small></h1>
        </div>
    </div>

    <div class="row">


        <div class="col-4">
            <h3>Bandera</h3>
            <img [src]="pais.flag" alt="" class="img-thumbnail">
        </div>

        <div class="col">
            <h3>Informacion</h3>
            <ul>
                <li class="list-gruop-item"><strong>Poblacion:</strong> {{pais.population | number}}</li>
                <li class="list-gruop-item"><strong>Codigo numerico:</strong> {{pais.numericCode}}</li>
                <li class="list-gruop-item"><strong>Codigo alpha3:</strong> {{pais.alpha3Code}}</li>
            </ul>
        </div>

    </div>

    <div class="row mt-2">
        <div class="col">
            <span class="badge bg-primary mr-1">{{ pais.translations.de }}</span>
            <span class="badge bg-primary  mr-1">{{ pais.translations.es }}</span>
            <span class="badge bg-primary  mr-1">{{ pais.translations.fr }}</span>
            <span class="badge bg-primary  mr-1">{{ pais.translations.ja }}</span>
            <span class="badge bg-primary  mr-1">{{ pais.translations.it }}</span>
            <span class="badge bg-primary  mr-1">{{ pais.translations.br }}</span>
            <span class="badge bg-primary  mr-1">{{ pais.translations.es }}</span>
            <span class="badge bg-primary  mr-1">{{ pais.translations.hr }}</span>
            <span class="badge bg-primary  mr-1">{{ pais.translations.fa }}</span>
            <span class="badge bg-primary  mr-1">{{ pais.translations.pt }}</span>
        </div>
    </div>

    <pre class="mt-5">{{ pais | json}}</pre>

</ng-template>