<h3>Buscar por región <small>{{regionActiva | titlecase}}</small></h3>
<hr>
<h5>Seleccione la región</h5>

<div class="row animate__animated animate__fadeIn animate__faster">
    <div class="col">
        <button *ngFor="let region of regiones" [class]="getClaseCSS(region)" (click)="activarRegion(region)">
            {{region | titlecase}}
        </button>
    </div>
</div>

<div class="row animate__animated animate__fadeIn animate__faster" *ngIf="paises.length > 0">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>