<h1>

    {{
    (heroe.id)?
    'Editar'
    : 'Nuevo'
    }}

    héroe
    <small>{{heroe.superhero}}</small>
</h1>


<div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">

    <div fxFlex="50" fxLayout="column">

        <div fxLayout="row" fxLayoutGap="20px">

            <mat-form-field fxFlex="100">
                <mat-label>Super Héro</mat-label>
                <input type="text" [(ngModel)]="heroe.superhero" matInput required>
            </mat-form-field>

            <mat-form-field fxFlex="100">
                <mat-label>Alter Ego</mat-label>
                <input type="text" matInput required [(ngModel)]="heroe.alter_ego">
            </mat-form-field>
        </div>

        <mat-form-field>
            <mat-label>Primera aparición</mat-label>
            <input type="text" matInput required [(ngModel)]="heroe.first_appearance">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Personajes</mat-label>
            <input type="text" matInput required [(ngModel)]="heroe.characters">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Creador</mat-label>
            <mat-select required [(ngModel)]="heroe.publisher">
                <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">{{publisher.descripcion}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Foto URL</mat-label>
            <input type="text" matInput required [(ngModel)]="heroe.alt_img">
        </mat-form-field>

        <br>

        <div fxLayout>
            <button mat-raised-button color="primary" (click)="guardar()">
                <mat-icon>edit</mat-icon>

                {{
                (heroe.id)?
                'Actualizar'
                : 'Crear'
                }}
            </button>

            <span class="spacer"></span>

            <button mat-raised-button color="warn" *ngIf="heroe.id" (click)="borrar()">
                <mat-icon>remove</mat-icon>
                Borrar
            </button>
        </div>

    </div>

    <div fxFlex="50">
        <img [src]="heroe | imagen">
    </div>
</div>