<h1>{{name}}</h1>

<dl>
    <td>Nombre:</td>
    <dd> {{name}} </dd>

    <td>Edad:</td>
    <dd> {{age}} </dd>

    <td>Método:</td>
    <dd> {{ getHeroDescription()}} </dd>

    <td>Capitalizado:</td>
    <dd> {{capitalizedName}} </dd>
</dl>

<button *ngIf="name !== 'spiderman'" class="btn btn-primary mx-2" (click)="changeHero()">
    Cambiar nombre
</button>

<button *ngIf="age !== 50" class="btn btn-primary" (click)="changeAge()">
    Cambiar edad
</button>

<button class="btn btn-primary mx-2" (click)="reset()">
    Reset
</button>