<h2>Reactive: <small> Dinámicos </small></h2>
<hr>

<form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">

  <!-- Nombre -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input class="form-control" placeholder="Nombre de la persona" formControlName="nombre">
      <span class="form-text text-danger" *ngIf="esValido('nombre')">
        Este campo es obligatorio y debe tener tres carácteres como mínimo
      </span>
    </div>
  </div>

  <!-- Agregar Favorito -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">

      <div class="input-group">
        <input class="form-control" placeholder="Agregar favorito" [formControl]="nuevoFavorito" (keyup.enter)="agregarFavorito()">
        <button class="btn btn-outline-primary" type="button" (keyup.enter)="agregarFavorito()">
          Agregar
        </button>
      </div>
    </div>
  </div>


  <!-- Lista de Juegos Favoritos -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9" formArrayName="favoritos">
      <div class="input-group mb-1" *ngFor="let favorito of favoritosArr.controls; let i = index">

        <input class="form-control" [formControlName]="i">
        <button class="btn btn-outline-danger" type="button">
          Eliminar
        </button>

      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary float-end">
        Guardar
      </button>
    </div>
  </div>


</form>

<span>Valid</span>
<pre>{{ miFormulario.valid }}</pre>

<span>Value</span>
<pre>{{ miFormulario.value | json }}</pre>

<span>Agregar juego</span>
<pre>{{ nuevoFavorito.value | json }}</pre>
<!--
<span>Persona</span>
<pre>{{ persona | json }}</pre> -->
