<h2>Reactive: Básicos</h2>
<hr>

<div class="row">
  <div class="col">

    <form autocomplete="off" [formGroup]="miFormulario">

      <!-- Campo de producto -->
      <div class="mb-3 row">


        <label class="col-sm-3 col-form-label">Producto</label>


        <div class="col-sm-9">

          <input type="text" class="form-control" name="producto" formControlName="nombre">

          <span class="form-text text-danger" *ngIf="campoEsValido('producto')">
            Debe de ser de 3 letras
          </span>
        </div>
      </div>

      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" formControlName="precio" placeholder="Precio del producto" required min="0">
          <span class="form-text text-danger" *ngIf="campoEsValido('precio')">
            El precio debe de ser 0 o mayor
          </span>
        </div>
      </div>

      <!-- Campo de existencias -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" formControlName="existencias" placeholder="Existencias del producto">
        </div>
      </div>


      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end" [disabled]="miFormulario.invalid">
            Guardar
          </button>
        </div>
      </div>



    </form>

  </div>
</div>




<div class="row">
  <div class="col">

      <span>Valid</span>
      <pre>{{ miFormulario.valid }}</pre>

      <span>Pristine</span>
      <pre>{{ miFormulario.pristine }}</pre>

      <span>Touched</span>
      <pre>{{ miFormulario.touched }}</pre>

      <span>Value</span>
      <pre>{{ miFormulario.value | json }}</pre>

  </div>
</div>

