<div class="text-layout">
    <h1>Pipes básicos</h1>
    <p>
        Pipes incluídos en Angular - Usualmente en el Common Module
    </p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="Uppercase" [subheader]="'leandro' | uppercase">
            {{nombreLower | uppercase}}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="Lowercase" [subheader]=" nombreLower | lowercase">
            {{nombreLower | lowercase }}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="Titlecase" [subheader]=" nombreLower | titlecase">
            {{nombreCompleto | titlecase }}
        </p-card>
    </div>
</div>

<div class="text-layout">
    <h1>Pipes básicos</h1>
    <p>
        Pipes incluídos en Angular - Usualmente en el Common Module
    </p>
</div>

<div class="grid">

    <div class="col-6">
        <p-card>
            <ul>
                <li>fecha</li>
                <li>fecha | date</li>
                <li>fecha | date: 'short'</li>
                <li>fecha | date: 'long'</li>
                <li>fecha | date: 'd-M-y'</li>
            </ul>
            <hr>

            <ul>
                <li>fecha | date: 'long': 'GMT-6'</li>
                <li>fecha | date: 'long': 'GMT-4'</li>
                <li>fecha | date: 'long': '':'fr'</li>
            </ul>

        </p-card>
    </div>

    <div class="col-6">
        <p-card>
            <ul>
                <li>{{fecha}}</li>
                <li>{{fecha | date}}</li>
                <li>{{fecha | date: 'long'}}</li>
                <li>{{fecha | date: 'd-M-y'}}</li>
            </ul>
            <hr>

            <ul>
                <li>{{fecha | date: 'long': 'GMT-6'}}</li>
                <li>{{fecha | date: 'long': 'GMT-4'}}</li>
                <li>{{fecha | date: 'long': '':'fr'}}</li>
            </ul>
        </p-card>
    </div>


</div>