<div class="text-layout">
    <h1>Decimal pipe y porcentaje</h1>
    <p>
        Pipes incluídos en Angular - Usualmente en el Common module.
    </p>
</div>

<div class="grid">

    <div class="col-3">
        <p-card header="Ventas netas" subheader="del presente año">
            <i class="pi pi-dollar"></i>
            {{ ventasNetas | number: '1.2-2' }}
        </p-card>
    </div>

    <div class="col-3">
        <p-card header="Ventas brutas" subheader="del presente año">
            {{ (ventasNetas + 2000000) | currency:'ARG $':'1.0-4' }}
        </p-card>
    </div>

    <div class="col-3">
        <p-card header="Ganancia porcentual" subheader="del presente año">
            {{ porcentaje | percent }}
        </p-card>
    </div>
</div>